/*****************
Base Layout and Text
*********************/

html, body {
	height: 100%;
}

.wrap {
	padding: 0 2%;
	margin: 0 auto;
}

<<<<<<< HEAD
#container {
	display: table;
	height: 100%;
	width: 100%;
=======
.first {
	padding-left: 0;
>>>>>>> 652c9717724c8d78d40246a7331a85b93320391d
}