/*****************************
BASIC BODY STYLES
*****************************/

body {
	font-family: $serif;
<<<<<<< HEAD
	color: $gray;
=======
}

.container {
	 display: table;
	height: 100%;
	width: 100%;
>>>>>>> 652c9717724c8d78d40246a7331a85b93320391d
}