.header {
<<<<<<< HEAD
	border-bottom: 1px solid $light-gray;

	h1 { margin-bottom: 0; }
=======
	border-bottom: 1px solid #dedede;

	h1{
		margin-bottom: 0;
	}
>>>>>>> 652c9717724c8d78d40246a7331a85b93320391d
}