.nav__toggle {
	text-decoration: none;
	font-size: 2em;
	position: absolute;
	top: 0;
	right: 1em;
}

<<<<<<< HEAD
nav {
	display: none;

	.nav {
=======
.nav {
	display: none;

	ul {
		list-style-type: none;
>>>>>>> 652c9717724c8d78d40246a7331a85b93320391d
		text-align: center;

		li {
			padding: 0 1em;
			display: block;
		}
	}
}

@media screen and (min-width: 768px){
<<<<<<< HEAD
=======

>>>>>>> 652c9717724c8d78d40246a7331a85b93320391d
	.nav__toggle {
		display: none;
		position: relative;
	}

<<<<<<< HEAD
	nav {
		display: block;

		.nav {
=======
	.nav{
		display: block;

		ul {
>>>>>>> 652c9717724c8d78d40246a7331a85b93320391d
			text-align: right;
			padding-top: .5em;

			li {
				display: inline-block;
			}
		}
	}
}